#messageTrip
{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:#11101059;
	z-index:100000;
	top:0px;
	left:0px;
}
.mescontainer
{
	color:#FFF;
	text-align:center;
	padding:50px;
	font-size:25px;
	
}

.closePanelOpenCalendar
{
	text-align:right;
	padding:10px;
}

.nowday
{
	font-weight:bold;
	color:red!important;
	border:1px solid red;
}

[data-fieldname="date"]
{
	background:#EEE;	
}

.actionButton
{
	margin-left:5px;
}

.containerCalendar
{
	overflow:auto;
}
.actionButtonCalendar
{
	clear:both;
	text-align:center;
}

#openPanelLI li
{
	list-style-type: none; 
	text-decoration:underline;
	cursor:pointer; 
}

.blockCalendar tr td
{
	font-size:17px;
	padding:5px 8px;
}

.blockCalendar div
{
	padding:5px;
	font-size:17px;
}
.blockCalendar
{
	display:block;
	float:left;
	background:#FFF;
	margin:20px;
	min-height:340px;
}
#autocomliteaddr
{
	overflow:auto;
	background:#EEE;
	position:absolute;
	z-index:1000;
	width:300px;
	min-height:50px;
	z-index:10000;
}

.b-calendar__number
{
	text-align:center;
	cursor:pointer;
}

.b-calendar__number:hover
{
	background:#CCC;
	color:white;
	
}

.selectDay
{
	background:#534c4c;
	color:white;
	
}

#openCalendar
{
	overflow:auto;
	display:none;
	width:98%;
	height:98%;
	left:1%;
	top:1%;
	padding-bottom:20px;
	z-index:1000000;
	background:#CCC;
	position:fixed;
}

.containerForTest
{
	display:none;	
}

.openPanelMenu ul 
{
	text-decoration:none;
	list-style: none!important;
}

.openPanelMenu ul li
{
	text-decoration:none;
	list-style: none;
}


.openPanelMenu
{
	position:absolute;
	border:1px solid #EEE;
	padding:10px; 
	background:#EEE;
}

#mapCoordinat
{
	width:100%;
	height:90%;
}
#mapBlockGetCoordinat
{
	width:98%;
	height:98%;
	background:#CCC;
	position:fixed;
	z-index:10000;
	left:1%;
	top:1%;
	display:none;/**/
}


#mapBlock
{
	width:98%;
	height:98%;
	background:#CCC;
	position:fixed;
	z-index:10000;
	left:1%;
	top:1%;
	display:none;/**/
}

input:read-only { 
	background:#EEE;
}

textarea:read-only { 
	background:#EEE;
}

#map
{
	width:100%!important;
}

.openMap
{
	/*
	padding-left:20px;
	cursor:pointer;
	text-decoration:underline;
	color:blue;	
	/**/
}

.fieldValue ymaps:first-child
{
	/*
	margin-top:50px!important;
	margin-left:150px!important;
	/**/
}

ymaps[class*="search__suggest"]
{
	/*
	color:red!important;
	background:red!important;
	/**/
}